/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0.0;
    background-color: #F7F8FD;
}

/* Dashboard specific styles */
.kpi-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 20px; /* Add space between the dashboard items */
}

.kpi-item {
    display: flex;
    align-items: center;
    width: 250px;
    padding: 20px; /* Increase padding for more space inside each item */
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.icon {
    width: 30px; /* Decrease icon size */
    height: 30px; /* Decrease icon size */
    background-size: cover;
    margin-right: 10px;
}


.number {
    font-size: 16px; /* Decrease number font size */
    font-weight: bold;
    color: #000;
    text-align: left;
}

/* New styles similar to the provided example */

.box-content .big {
    display: block;
    font-size: 0.7em; /* Adjust font size as needed */
    line-height: 150%;
    color: #333; /* Replace with your desired color */
}

.active {
    svg circle,
    svg path {
        fill: blue; /* Replace with your desired color */
    }
}

.dashboard-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 20px; /* Add space between the dashboard items */
}

.dashboard-item {
    display: flex;
    align-items: center;
    width: 250px;
    padding: 20px; /* Increase padding for more space inside each item */
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
}


caption {
    font-weight: bold;
    text-align: left; /* Align caption text to the left */
    padding: 10px; /* Optional: Add padding to the caption */
    background-color: white; /* Optional: Set a background color */
}


