/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F8FD;
}

/* Dashboard specific styles */
.kpi-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 20px; /* Add space between the dashboard items */
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 12px; /* Decrease title font size */
    color: #333;
    text-align: center;
}

.number {
    font-size: 16px; /* Decrease number font size */
    font-weight: bold;
    color: #000;
    text-align: center;
}

.big {
    font-size: 16px; /* Decrease number font size */
    font-weight: bold;
    color: #000;
    text-align: center;
}

.kpi-item {
    display: flex;
    align-items: center;
    width: 700px;
    padding: 20px; /* Increase padding for more space inside each item */
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.icon {
    width: 30px; /* Decrease icon size */
    height: 30px; /* Decrease icon size */
    background-size: cover;
    margin-right: 10px;
}


/* New styles similar to the provided example */

.box-content .big {
    display: block;
    font-size: 0.7em; /* Adjust font size as needed */
    line-height: 150%;
    color: #333; /* Replace with your desired color */
}

.active {
    svg circle,
    svg path {
        fill: blue; /* Replace with your desired color */
    }
}

.dashboard-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 20px; /* Add space between the dashboard items */
}

.dashboard-item {
    display: flex;
    align-items: center;
    width: 250px;
    padding: 10px; /* Increase padding for more space inside each item */
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
}


caption {
    font-weight: bold;
    text-align: left; /* Align caption text to the left */
    padding: 10px; /* Optional: Add padding to the caption */
    background-color: white; /* Optional: Set a background color */
}



table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;

}


th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #E5E5E5;
}

th {
    background-color:  #F7F8FD; 
    position: sticky;
    top: 0;
    z-index: 1;
}


.table-container {
    width: 100%;
    overflow-x: scroll;
}

.Table1 {
    width: 1000px; /* Increase width to make scrolling effective */
    border-collapse: collapse;
}

.Table1 td, .Table1 th, .Table1 thead th {
    padding: 11px; /* Reduced padding */
    text-align: center;
    border: 1px solid #ccc; /* Lighter border for a less bulky look */
    font-size: 12px;
  }

  .Table1 th {
    color: #333; /* Dark text for contrast */
    font-weight: bold; /* Make headers bold */
    font-size: 14px;
  }

  .Table1 thead th {
    border: none; /* Remove borders from column headers */
  }


.DomainName{
    font-weight: bold; /* Make row headers bold */
    font-size: 14px;
}